{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About {% endblock %}</h1>
    <h3><strong>Project Description:</strong></h3>
    <p>This project is made for Spring 21 EC521 HW1</p>

    <hr>

    <h3><strong>Members:</strong></h3>
    <ul>
        <li>Ryuichi Ohhata</li>
        <li>Zian Wang</li>
    </ul>

    <h3><strong>GitHub Repository Link:</strong></h3>
    <a href="https://github.com/ryu-bu/homework1-template">https://github.com/ryu-bu/homework1-template</a>
    
    </script>
{% endblock %}